<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-crashlytics"
      version="0.1.0">

    <name>FirebaseCrashlyticsPlugin</name>
    <description>Cordova plugin for Firebase Crashlytics</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/FranciscoG/cordova-plugin-firebase-crashlytics</repo>
    <issue>https://github.com/FranciscoG/cordova-plugin-firebase-crashlytics/issues</issue>

    <hook type="after_plugin_install" src="hooks/after_plugin_add.js" />
    <hook type="after_platform_add" src="hooks/after_plugin_add.js" />
    <hook type="before_plugin_uninstall" src="hooks/before_plugin_rm.js" />
    
    <js-module src="www/FirebaseCrashlytics.js" name="FirebaseCrashlytics">
        <merges target="cordova.plugins.firebase.crashlytics" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseCrashlytics">
                <param name="ios-package" value="FirebaseCrashlyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebaseCrashlyticsPlugin.h" />
        <source-file src="src/ios/FirebaseCrashlyticsPlugin.m" />

        <framework src="Fabric" type="podspec" spec="~> 1.7.5"/>
        <framework src="Crashlytics" type="podspec" spec="~> 3.10.1"/>
    </platform>

</plugin>
